.u-section-1 {
  background-image: none;
  min-height: 981px;
}

.u-section-1 .u-shape-1 {
  height: 299px;
  margin: 347px auto 0 0;
}

.u-section-1 .u-image-1 {
  width: 881px;
  height: 736px;
  animation-duration: 1000ms;
  margin: -581px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-group-1 {
  min-height: 465px;
  width: 570px;
  background-image: none;
  animation-duration: 1000ms;
  height: auto;
  margin: -329px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 40px 60px 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 300;
  text-transform: none;
  font-size: 3rem;
  margin: 47px 0 0;
}

.u-section-1 .u-form-1 {
  height: 248px;
  margin-top: 27px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-form-group-1 {
  margin-left: auto;
}

.u-section-1 .u-input-1 {
  font-size: 1.25rem;
}

.u-section-1 .u-form-group-2 {
  margin-left: auto;
}

.u-section-1 .u-input-2 {
  font-size: 1.25rem;
}

.u-section-1 .u-form-group-3 {
  margin-left: auto;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  margin-left: auto;
  font-size: 1.25rem;
  font-weight: 700;
  width: 100%;
  letter-spacing: 2px;
}

.u-section-1 .u-social-icons-1 {
  height: 48px;
  min-height: 16px;
  width: 164px;
  min-width: 68px;
  margin: -61px calc(((100% - 1140px) / 2) + 343px) 57px auto;
}

.u-section-1 .u-icon-1 {
  color: rgb(59, 89, 152) !important;
  height: 100%;
}

.u-section-1 .u-icon-2 {
  color: rgb(85, 172, 238) !important;
  height: 100%;
}

.u-section-1 .u-icon-3 {
  color: rgb(197, 54, 164) !important;
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-group-1 {
    margin-right: calc(((100% - 940px) / 2));
    height: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: 32px;
    font-size: 4.25rem;
  }

  .u-section-1 .u-form-1 {
    margin-left: initial;
  }

  .u-section-1 .u-btn-1 {
    font-weight: 400;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 846px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 601px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-group-1 {
    margin-top: -194px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.625rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 696px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 451px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    margin-top: -44px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 529px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 284px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-top: 123px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}.u-section-2 {
  min-height: 1233px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-family: Montserrat, sans-serif;
  margin: 80px calc(((100% - 1140px) / 2) + 342px) 0 calc(((100% - 1140px) / 2));
}

.u-section-2 .u-text-2 {
  font-size: 0.875rem;
  line-height: 1.8;
  letter-spacing: 1px;
  margin: 20px calc(((100% - 1140px) / 2) + 137px) 0 calc(((100% - 1140px) / 2));
}

.u-section-2 .u-image-1 {
  height: 611px;
  margin-top: 56px;
  margin-bottom: 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  grid-auto-rows: 100%;
  width: 1094px;
  margin: -233px calc(((100% - 1140px) / 2)) 60px auto;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: calc(25% - 22.5px);
  grid-template-columns: repeat(4, calc(25% - 22.5px));
  grid-auto-rows: 100%;
  min-height: 275px;
  grid-gap: 30px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-group-1 {
  width: 80px;
  min-height: 80px;
  background-size: auto;
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 41px 0 0;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-group-2 {
  width: 80px;
  min-height: 80px;
  background-size: auto;
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 41px 22px 0;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-group-3 {
  width: 80px;
  min-height: 80px;
  background-size: auto;
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-6 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 41px 22px 0;
}

.u-section-2 .u-text-8 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px;
}

.u-section-2 .u-group-4 {
  width: 80px;
  min-height: 80px;
  background-size: auto;
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-8 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-text-9 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 41px 22px 0;
}

.u-section-2 .u-text-10 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: calc(((100% - 940px) / 2) + 142px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-text-2 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-list-1 {
    width: 940px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-repeater-1 {
    min-height: 260px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-text-8 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-text-10 {
    font-size: 1.25rem;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-text-2 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-list-1 {
    width: 720px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(50% - 15px);
    grid-template-columns: repeat(2, calc(50% - 15px));
    grid-auto-rows: calc(50% - 15px);
    min-height: 536px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-8 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-10 {
    font-size: 1.5rem;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-top: 60px;
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-text-2 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-list-1 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-text-2 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-list-1 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
    grid-auto-rows: calc(25% - 22.5px);
    min-height: 1018px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 575px;
}

.u-section-3 .u-list-1 {
  width: 1140px;
  margin-top: 50px;
  margin-bottom: 50px;
  grid-template-rows: auto;
}

.u-section-3 .u-repeater-1 {
  grid-auto-columns: 33.3333%;
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-gap: 0px 0px;
  min-height: 375px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  height: 213px;
  animation-duration: 1000ms;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-1 {
  margin: 20px 58px 0 0;
}

.u-section-3 .u-line-1 {
  transform-origin: left center;
  margin: 30px auto 0 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 2px 0 0;
}

.u-section-3 .u-btn-1 {
  margin-right: 0;
  margin-left: 0;
  border-style: none none solid;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  padding: 5px 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  height: 213px;
  animation-duration: 1000ms;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-3 {
  margin: 20px 58px 0 0;
}

.u-section-3 .u-line-2 {
  transform-origin: left center;
  margin: 30px auto 0 0;
}

.u-section-3 .u-text-4 {
  margin: 20px 2px 0 0;
}

.u-section-3 .u-btn-2 {
  margin-right: 0;
  margin-left: 0;
  border-style: none none solid;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  padding: 5px 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-image-3 {
  height: 213px;
  animation-duration: 1000ms;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-5 {
  margin: 20px 58px 0 0;
}

.u-section-3 .u-line-3 {
  transform-origin: left center;
  margin: 30px auto 0 0;
}

.u-section-3 .u-text-6 {
  margin: 20px 2px 0 0;
}

.u-section-3 .u-btn-3 {
  margin-right: 0;
  margin-left: 0;
  border-style: none none solid;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  padding: 5px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 342px;
  }

  .u-section-3 .u-list-1 {
    width: 940px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 33.333333333333336%;
  }

  .u-section-3 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-btn-1 {
    width: 99px;
    height: 38px;
    margin-top: 20px;
    margin-bottom: 0;
  }

  .u-section-3 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-line-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
  }

  .u-section-3 .u-btn-2 {
    width: 99px;
    height: 38px;
  }

  .u-section-3 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
  }

  .u-section-3 .u-line-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
  }

  .u-section-3 .u-btn-3 {
    width: 99px;
    height: 38px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 744px;
  }

  .u-section-3 .u-list-1 {
    width: 720px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 50%;
    grid-template-columns: 50% 50%;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    height: 344px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-1 {
    margin-right: auto;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    height: 344px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-3 {
    margin-right: auto;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 0;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-3 {
    height: 344px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-5 {
    margin-right: auto;
  }

  .u-section-3 .u-btn-3 {
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-list-1 {
    width: 340px;
  }

  .u-section-3 .u-image-1 {
    height: 212px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-2 {
    height: 212px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-3 {
    height: 212px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 670px;
}

.u-section-4 .u-layout-wrap-1 {
  pointer-events: auto;
  margin-top: 60px;
  margin-bottom: 27px;
}

.u-section-4 .u-image-1 {
  min-height: 583px;
  pointer-events: auto;
  background-image: url("images/financial-accounting-theory-1-1024x473.jpeg");
  background-position: 50% 50%;
  animation-duration: 1000ms;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 583px;
  pointer-events: auto;
  animation-duration: 1000ms;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 60px 6px;
}

.u-section-4 .u-text-1 {
  margin: 20px 0 0;
}

.u-section-4 .u-text-2 {
  margin: 46px 0 0;
}

.u-section-4 .u-btn-1 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  background-image: none;
  border-style: solid;
  margin: 46px auto 0 0;
  padding: 10px 34px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 481px;
  }

  .u-section-4 .u-image-1 {
    min-height: 481px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 481px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 367px;
  }

  .u-section-4 .u-image-1 {
    min-height: 368px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 653px;
  }

  .u-section-4 .u-image-1 {
    min-height: 552px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 446px;
  }

  .u-section-4 .u-image-1 {
    min-height: 348px;
  }
}